h3 {
    align-content: center;
    margin: 0 auto;
    display: inline-block;
    float: left;
    position: relative;
    left: 10%;
}

.row1 {
    overflow: auto;
    height:614px;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}

.form-group1 {
    overflow: auto;
    height:400px;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}

.row1 .col {
    flex: 1;
}

.row1 .col:nth-child(1) {
    order: 1;
}
.row1 .col:nth-child(2) {
    order: 0;
}
.row1 .col:nth-child(3) {
    order: 2;
}
